body {
margin-top: 100px;
background-color: rgb(109, 131, 194);
}

.wrapper {
  width: 400px;
  height: 500px;

  margin: auto;
  
  border-radius: 5px;

  background-color:rgb(238, 236, 241);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal ;
  color: rgb(116, 112, 112);
}
.form-container {
 padding: 5px;
}

h1,
p {
  margin-bottom: 0px;
  text-align: center;
}

p {
 font-size: 15px;
 
}
.form {
  width: 350px;

  display: flex;
  flex-direction: column;

  margin: auto;
  padding-top: 30px;

  font-size: 16px;
  
}
.form>* {
  font-size: 14px;
  text-transform: capitalize;

}
.name {
  display: inline-flex;
  justify-content: space-between;
  
}
.name-first,
.name-last {
  width: 40%;
  font-size: 14px;
  text-transform: capitalize;

}
input{
  margin-bottom: 15px;
  padding: 7px ;
}
.form label{
  margin-top: 20px;
  font-size: 17px;
}

.form .submit {
  margin-top: 30px;
  padding: 15px;
  border: none;
  background-color: rgb(4, 180, 4);
  color:azure;
  font-size: 16px;
  letter-spacing: 0.5px;
}
.form a {
  text-decoration: none;
  color: rgb(4, 180, 4);
}
.sign {
  font-size: 18px;
  color:azure;

}
.sign a {
  color: azure;
}



